@import url("https://fonts.googleapis.com/css?family=Bitter");
@import url("https://fonts.googleapis.com/css?family=Cormorant+Garamond");


body{
  background: black;
  padding-bottom: 20px;
}

.logo{
  position: absolute;
  top:50px;
  left:20px;
  width: 160px;
}

form{
  color:white;
}

.italic{
  font-style: italic;
}

.bold{
  font-weight: bold;
}

.sidebar{
  background: #404040;
  position: fixed;
  width: 200px;
  height: 100%;
  top:0;
  left:0;
  color: #404040;
  transition: 0.5s;
  overflow-x: hidden;
  z-index: 1;
  padding-top: 200px;
  box-shadow: 3px 0px 10px #717272;
}

.button{
  color:white;
  font-family: 'Cormorant Garamond';
  background-color: transparent;
  font-size: 25px;
  text-decoration: none;
  border: none;
  margin-top: 15px;
  position: fixed;
  z-index: 500;
}

li{
  margin: 15px 5px 15px 10px;
  font-size: 20px;
  font-family: 'Cormorant Garamond';
  text-decoration: none
  display: block;
}

.sidebar a:hover{
  color:black;
}

.sidebar a{
  color: white;
  padding-top: 15px;
  text-decoration: none;
  display: block;
  transition: 0.3s;
}

.sidebar .closebtn{
    position: absolute;
    top: 136px;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}

header{
  background:-webkit-linear-gradient(black, white);
  height: 100px;
  font-size: 27px;

}
h1{
  margin-left: 230px;
  color:white;
  font-family: 'Cormorant Garamond';
}
h2{
  margin-left: 230px;
  margin-top: 50px;
  color:white;
  font-family: 'Cormorant Garamond';
  font-style: italic;
}
p{
  font-family: 'Cormorant Garamond';
  color: white;
  margin-left: 230px;
  margin-right: 100px;
  font-size: 20px;
}
.link{
  color: grey;
}

ol{
  color: white;
  font-family: 'Cormorant Garamond';
  margin-left: 200px;
}

ol li{
  padding: 12px;
}

input[type=text], select, textarea {

    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    width: 400px;
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical;
    display: block;
}

.contacts{
  margin-left: 220px;
  background-color: #2d2d2d;
  width: 420px;
  padding: 10px;
  border-radius: 10px;
}

input[type=submit] {
    background-color: white;
    color: black;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-family: 'Cormorant Garamond';
    font-size: 18px;
}

input[type=submit]:hover {
    background-color: #e0e1e2;

.fab {
    padding: 20px;
    font-size: 30px;
    width: 50px;
    text-align: center;
    text-decoration: none;
}

.social {
  background: #3B5998;
  color: white;
}
